.footer {
  display: flex;
  flex-direction: column;
  background-color: #405233;
  height: 300px;
  justify-content: center;
  padding: 30px;
  margin-top: 25px;
}
 .footer-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-self: center;
 }

 i {
  font-size: 40px;
  color: #f2f5ef;

 }

 .footer p {
    color: #f2f5ef;
    font-size: 18px;
    align-self: center;
 }
